import /init.recovery.qcom_decrypt.rc

service hvdcp_opti /system/bin/hvdcp_opti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service detect-dynamic-partitions /system/bin/detect-dynamic-partitions.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service protect-partitions /system/bin/protect-partitions.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service set-device-props /system/bin/set-device-props.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    export ANDROID_ROOT /system_root

on boot
    start health-hal-2-1
    start hvdcp_opti

on init
    start detect-dynamic-partitions
    start set-device-props
    exec u:r:recovery:s0 -- /system/bin/resetprop ro.boot.verifiedbootstate orange

on boot
    start protect-partitions
    exec u:r:recovery:s0 -- /system/bin/blkroset.mi439 /dev/block/mmcblk0
